/* 
This file is to set up the assignment
You will write your code in code.js
*/

li {
  font-size: large;
}

#level1,
#level2,
#level3 {
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
}

div {
  display: flex;
  flex-direction: column;
}

img {
  width: 33vw;
  height: 40vh;
}

button {
  width: 33vw;
}

#input {
  text-align: center;
}
